---
---

$page: 1000px;
$padding: 40px;

section {
  padding: $padding max($padding, calc((115% - $page) / 2));
  transition: background var(--transition), color var(--transition);
  
  .section {
    box-sizing: content-box;
    max-width: $page;
    margin: 0 auto;
    padding: 60px 40px;
    text-align: center;
  }
}

section[data-size="wide"] {
  padding: $padding;
}

section[data-size="full"] {
  padding: 0;
}

section[data-size="full"] > * {
  margin: 0;
  border-radius: 0;
}

section[data-size="full"] img {
  border-radius: 0;
  width: 100% !important;
  height: auto !important;
  display: block;
}

main > section:last-of-type {
  flex-grow: 1;
}

main > section:nth-of-type(odd) {
  background: var(--background);
}

main > section:nth-of-type(even) {
  background: var(--background-alt);
}
